# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# hide source repository files
ratings.csv
repos.csv
Ejercicio_Random_Forest.ipynb
Ejercicio_PCA.ipynb
usuarios_win_mac_lin.csv
users.csv
analisis.csv
README-backup.md
Ejemplo_Embeddings_Keras.ipynb
Ejercicio_imbalanced_data.ipynb
Series_Temporales_con_RRNN.ipynb
Manipulacion_datos_pandas.ipynb
Ejercicio_Bayes.ipynb
Regresion_logistica.ipynb
Ejercicio_Arbol_de_Decision.ipynb
comprar_alquilar.csv
reviews_sentiment.csv
Ejemplo_WebScraping_Bolsa_y_Futbol.ipynb
Ejercicio_Sistemas_Recomendacion.ipynb
articulos_ml.csv
Ejercicio_Reinforcement_Learning_Pong.ipynb
time_series.csv
NN_Obstacle_Car/
Ejercicio_k-NearestNeighbor.ipynb
versiones_deep.py
Red_Neuronal_desde_cero.ipynb
Series_Temporales_Multivariate.ipynb
Ejercicio_K_Means.ipynb
Ejercicio_Regresion_Lineal.ipynb
Ejercicio_Object_Detection.ipynb
Red_Neuronal_coche.ipynb
Ejercicio_EDA.ipynb
api_ml/
Ejercicio_Outliers.ipynb
Series_Temporales_Embeddings.ipynb
versiones.py
artists_billboard_fix3.csv
Red_Neuronal_Xor.ipynb
nlp/